In [6]:
import pandas as pd
from decouple import config
# Load vars
ROOT_PATH       = config('ROOT_PATH')
DATA_RAW_PATH   = config('DATA_RAW_PATH')

In [7]:
raw_data = pd.read_csv(ROOT_PATH+DATA_RAW_PATH+'dataframe_raw_properties.csv')
raw_data

,id,displayId,bedrooms,city,cityId,bathrooms,iptu,amenities,comfortCommodities,practicalityCommodities,...,visitsUnavailable,isReserved,allowDirectOffer,lastPublishedDate,listingPublication,rentOnTermination,constructionYear,furniture,movingDate,daysToVacate
0,892986759,286759,2,São Paulo,39,1,84,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",...,False,False,True,2022-03-31T18:21:10.000Z,stranded,False,1987.0,NaN,NaN,NaN
1,893513303,813303,4,São Paulo,39,4,150,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2022-01-03T22:57:59.000Z,stranded,False,NaN,Box nos Banheiros; Armários embutidos na Cozin...,NaN,NaN
2,893432694,732694,8,São Paulo,39,3,2343,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2021-09-25T05:29:14.000Z,stranded,False,NaN,NaN,NaN,NaN
3,893260434,560434,1,São Paulo,39,1,81,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2022-01-06T15:47:17.000Z,stranded,False,NaN,NaN,NaN,NaN
4,893407371,707371,2,São Paulo,39,1,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",...,False,False,True,2021-08-25T22:40:51.000Z,stranded,False,NaN,NaN,NaN,NaN
5,893290914,590914,1,São Paulo,39,1,208,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2021-04-14T01:11:03.000Z,stranded,False,NaN,NaN,NaN,NaN
6,892806267,106267,1,São Paulo,39,1,29,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2021-04-30T15:42:54.000Z,stranded,False,NaN,NaN,NaN,NaN
7,893324382,624382,1,São Paulo,39,1,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2021-05-22T01:31:26.000Z,stranded,False,NaN,NaN,NaN,NaN
8,893475416,775416,4,Diadema,2479,3,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",...,False,False,True,2021-11-13T05:17:37.000Z,stranded,False,NaN,NaN,NaN,NaN
9,893567381,867381,4,Guarulhos,1412,2,170,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",...,False,False,True,2022-03-06T18:10:05.000Z,stranded,False,NaN,NaN,2022-03-05,NaN
10,893346232,646232,1,São Paulo,39,1,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2021-11-09T17:32:00.000Z,stranded,False,NaN,NaN,NaN,NaN
11,893417419,717419,3,São Paulo,39,2,2500,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",...,False,False,True,2021-09-08T23:19:41.000Z,stranded,False,NaN,NaN,NaN,NaN
12,893426340,726340,2,São Paulo,39,2,14,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2021-09-17T00:48:58.000Z,stranded,False,1973.0,NaN,NaN,NaN
13,893040875,340875,6,São Paulo,39,4,66,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2022-03-05T01:08:58.000Z,stranded,False,NaN,NaN,NaN,NaN
14,893533189,833189,4,São Paulo,39,1,208,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2022-01-30T01:39:03.000Z,stranded,False,NaN,NaN,NaN,NaN
15,893273262,573262,3,São Bernardo do Campo,1405,4,234,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2021-03-14T06:01:06.000Z,stranded,False,NaN,Porta fechada! \nProntinho para morar com sua ...,NaN,NaN
16,893564058,864058,1,São Paulo,39,1,33,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2022-02-23T22:26:00.000Z,stranded,False,1971.0,NaN,NaN,NaN
17,893552962,852962,1,São Paulo,39,1,0,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2022-02-15T14:57:09.000Z,stranded,False,NaN,NaN,NaN,NaN
18,893551935,851935,3,São Paulo,39,3,413,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'SIM',...",...,False,False,True,2022-04-06T18:36:23.000Z,stranded,False,NaN,NaN,NaN,NaN
19,893585636,885636,3,São Paulo,39,3,750,"[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BANHEIRA_DE_HIDROMASSAGEM', 'text': ...","[{'key': 'BOX', 'text': 'Box', 'value': 'NAO',...",...,False,False,True,2022-03-12T00:22:07.000Z,stranded,False,NaN,Salas amplas e localização privilegiada.\nExce...,NaN,30.0